body {
    font-family: 'Arial', sans-serif;
    background-color: #D2E0FB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: #FEF9D9;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  h1 {
    color: #8EACCD;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    background-color: #DEE5D4;
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #B9E9FC;
  }
  
  p {
    text-align: center;
    margin-top: 20px;
  }
  
  a {
    color: #8EACCD;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  